#                             VVVVVV  minimum `pixi` version
"$schema" = "https://pixi.sh/v0.50.0/schema/manifest/schema.json"

[workspace]
requires-pixi = ">=0.50,<1.0"
authors = ["Neil Scheidwasser"]
channels = ["conda-forge", "bioconda"]
name = "phylo2vec-workshop"
platforms = ["linux-64", "osx-64", "osx-arm64"]
version = "2025.09.15"

[activation.env]
RELEASE_VERSION = "v$PIXI_PROJECT_VERSION"
GITHUB_REPOSITORY = "sbhattlab/phylo2vec-workshop"

[environments]
site = ["site"]
data = ["data"]

[tasks]

[dependencies]
python = ">=3.11.13,<3.12"
ipykernel = ">=6.29.5,<7"
jupyterlab = ">=4.4.5,<5"
iqtree = { version = ">=3.0.1,<4", channel = "bioconda" }
rapidnj = { version = ">=2.3.2,<3", channel = "bioconda" }
pytest = ">=8.4.2,<9"
pytest-benchmark = ">=5.1.0,<6"

[pypi-dependencies]
phylo2vec = "==1.4.0"
pandas = ">=2.3.2, <3"
matplotlib = ">=3.10.6, <4"
seaborn = ">=0.13.2, <0.14"

# Site feature configurations
[feature.site.pypi-dependencies]
jupyter-book = ">=2.0.0b2"


[feature.site.dependencies]
nodejs = ">=24.3.0,<24.4"

[feature.site.tasks]
start = { cmd = "jupyter book start", cwd = "docs" }
build = { cmd = "jupyter book build --html", cwd = "docs" }

[feature.site.tasks.publish]
depends-on = ["build"]
cwd = "docs"
cmd = "cp -R _build/html $READTHEDOCS_OUTPUT/html"
env = { READTHEDOCS_OUTPUT = ".." }

# Data feature configurations
[feature.data.dependencies]
typer = ">=0.16.0"
gh = ">=2.76.1,<3"

[feature.data.tasks]
zip = { cmd = "python data.py zip", description = "Zip the data directory" }
unzip = { cmd = "python data.py unzip", description = "Unzip data.zip to data directory" }

[feature.data.tasks.set-default-repo]
cmd = ["gh", "repo", "set-default", "$GITHUB_REPOSITORY"]
description = "Set the default repository for GitHub CLI commands"

[feature.data.tasks.release]
depends-on = ["zip", "set-default-repo"]
description = "Create GitHub release with data.zip asset"
cmd = [
    "gh",
    "release",
    "create",
    "$RELEASE_VERSION",
    "./dist/*.zip",
    "--title",
    "$RELEASE_VERSION",
    "-F",
    "RELEASE.md",
]

[feature.data.tasks.download-latest-data]
depends-on = ["set-default-repo"]
cmd = [
    "curl",
    "-o",
    "data/primates.fa",
    "https://raw.githubusercontent.com/Neclow/GradME/852bff7e83f5bd8efc0d42f3e13edbca0e73ac9a/data/primates.fa",
    "&&",
    "curl",
    "-o",
    "data/lemurs.fa",
    "https://raw.githubusercontent.com/zcrabbit/vbpi-gnn/7e37bd6d08c8427433495d0882a2eb3141b2b759/data/hohna_datasets_fasta/DS3.fasta",
]

[feature.data.tasks.setup-data]
depends-on = ["download-latest-data"]

# Optional data tasks
[feature.data.tasks.delete-release]
depends-on = ["set-default-repo"]
description = "Delete the current GitHub release"
cmd = [
    "gh",
    "release",
    "delete",
    "$RELEASE_VERSION",
    "--yes",
    "--cleanup-tag"
]

[feature.data.tasks.update-release-data]
depends-on = ["zip", "set-default-repo"]
description = "Update the data release with the latest data.zip"
cmd = [
    "gh",
    "release",
    "upload",
    "$RELEASE_VERSION",
    "./dist/*.zip",
    "--clobber",
]
